<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SunoBaat Login Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles2.css') }}">
</head>
<body>
    <div class="container">
        <div class="login-container">
            <div class="illustration">
                <img src="">
            </div>
            <div class="header">
                <h5>When you speak and your words fall on deaf ears, know that the universe listens.</h5>
            </div>
            <div class="buttons">
                <button class="sign-up-btn">Sign Up</button>
                <button class="login-btn">Log In</button>

            </div>
            <div class="login-form">
                <input type="text" placeholder="Email Address or Username">
                <input type="password" placeholder="Password">
                <a href="/category">
                    <button class="submit-btn">Log In</button>
                </a>
                <p class="forgot-password">Forgot your password?</p>
            </div>
            <div class="or-continue">
                <p>Or continue with</p>
            </div>
            <div class="social-media">
                <button class="social-btn google">G</button>
                <button class="social-btn facebook">f</button>
                <button class="social-btn apple"></button>
            </div>
        </div>
        
    </div>
</body>
</html>
